<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>To Do With Mongo!</title>
</head>

<body>

  <!-- create div for box with id heading to apply css styles -->
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <!-- create another div with class box to apply css styles -->
  <div class="box">

    <%  newListItems.forEach(item => { %>
    <!-- create form for deleting from our db when we hit checkbox -->
    <form action="/delete" method="POST">


      <div class="newItem">
        <!-- add onChange to input to make it submit so we can POST to /delete when checkbox is clicked -->
        <!-- add name to input so we can tap into it in req.body -->
        <!-- add value which will be equal to ejs values. Use item used in forEach loop and tap into the _id -->
        <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
        <p> <%=  item.name  %></p>
      </div>

      <!-- create hidden input for deleting items off custom lists -->
      <input type="hidden" name="cListName" value="<%= listTitle %>">

    </form>
    <%  }) %>


    <!-- add form to post new item to list -->
    <!-- add newItem class to it so its styled same way as our new items -->
    <form class="newItem" action="/" method="POST">
      <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
      <!-- use ejs for value so when we console log on post we can use the value to redirect to appropriate page -->
      <button type="submit" name="add" value=<%= listTitle %>>+</button>
    </form>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>